$accentColor = #f2b535 //#9B0B09
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34


// 媒体查询尺寸
$minWidth1 = 1200px
$width1 = 1170px
$minWidth2 = 992px
$width2 = 970px
$minWidth3 = 768px
$width3 = 750px